<head>
    <title>chat</title>
</head>

<body>
    <h1>component stuff</h1> 
    {{> welcome }}
</body>

<template name="welcome">
    <h2>welcome!</h2> 
   <button class="event-alert">Click</button>
</template>