<head>
    <title>chatroom</title>
</head>

<body>
    <h1>Welcome to Meteor!</h1> {{> hello}}
</body>

<template name="hello">
    <button>Click Me</button>
    <p>You've pressed the button {{counter}} times.</p>
</template>